.App {
  text-align: center;
}

.logo {
  height: 5vmin;
  pointer-events: none;
}

.navbar-nav > li > a{
  margin-right: .7rem;
  margin-left: .7rem;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: .15rem solid white
}

.navbar-nav > li > a:hover{
  border-bottom: .15rem solid white
}